.calc-block{
    height: 230px;
    width: 250px;
    padding: 15px;
    float: left;
}

table{
    float: left;
}

#left-col{
    width: 40%;
}

#left-col tr{
    float:left;
}

#right-col{
    width: 40%;
    margin-left: 10px;
}

#right-col tr{
    float: left;
}

input{
    border: none;
    background-color: #ccccda;
    outline: none;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    -webkit-transition: all 0.8s 0.1s ease;
    -moz-transition: all 0.8s 0.1s ease;
    -o-transition: all 0.8s 0.1s ease-in;
}

input:hover{
    background-color: red;
/*    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -opera-transform: rotate(360deg);*/
}



input:not([class='large']){
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
    
.large{
    width: 40px;
    height: 76px;
    border-radius: 20px;
}

#null.large{
    width: 127px;
    height: 30px;
    border-radius: 15px;
}

body{
    margin: auto 0;
}

#exp-input{
    width: 228px;
    padding-left: 10px;
    outline: none;
    float: left;
    color: white;
}
